@import '../../../../../scss/variables';
@import '../../../../../scss/utils';

// @file
// Content

.c-content {
  color: $grey-2;
  width: 100%;

  @include bp-max-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}