@import '../../../../../scss/variables';
@import '../../../../../scss/utils';

// @file
// Content

.c-posts {
  @include list-clean();

  margin: 0 $spacing-2;
  padding-top: $spacing-6;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @include bp-tablet-lg {
    flex-grow: 1;
    height: 100%;
    margin: 0 $spacing-6;
    overflow: auto;
    padding-left: #{$spacing-6 * 2};
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.c-posts__item {
  margin-bottom: $spacing-6;
}